<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schmidt</title>
    <link rel="stylesheet" asp-href-include="~/css/*.*" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li>
                    <a asp-page="Index" class="text-light Swimming-Back-1-hex">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="text-dark">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div>
            &copy; @DateTime.Now.Year - Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
        </div>
    </footer>

    <script asp-src-include="~/js/*.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
